* {
    margin:  0;
    padding: 0;
    color: #eee8d5;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none;
    overflow-x: hidden;
}

body {
    width:  100%;
    height: 100%;
    background: rgba(40, 40, 40, 1.0);
    opacity: 1;
}

h1 {
    font-style: normal;
}

h2 {
    color: #363636;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #888888;
    padding: 1em;
}

h4 {
    font-size: 1emem;
    display: inline;
}

p {
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

.navigationBar {
    width: 100%;
    background:rgba(40, 40, 40, 1.0); 
    position: absolute;
    padding: 0em;
}

.navigationBar li {
    animation: darken 0.25s linear;
    background: rgba(40, 40, 40, 1.0); 
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0.6em;

}

.navigationBar li:hover {
    animation: lightup 0.25s linear;
    background: rgba(91, 35, 51, 1.0);
    cursor: pointer;
}

@keyframes lightup {
    0%   { background-color: rgba(40, 40, 40, 1.0); }
    100% { background-color: rgba(91, 35, 51, 1.0); }
    
}

@keyframes darken {
    0%   { background-color: rgba(91, 35, 51, 1.0); }
    100% { background-color: rgba(40, 40, 40, 1.0); }
}

#titleItem {
    float: left;
}

#titleItem strong { 
    font-family: "Courier New", Courier, monospace;
}

footer {
    font-size: 0.3em;
    padding: 1em;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(40, 40, 40, 1.0);
    height: 5%;
    margin: 0.2em;
    cursor: pointer;
}

#heroCanvas {
    width: 100%;
}

#comingSoon {
    background: rgba(91, 35, 51, 0.0);
    position: absolute;
    width: 100%;
    bottom: 45%;
}

#comingSoon h2 {
    font-weight: 10;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color:rgba(238, 232, 213, 0.5);
}

#comingSoon p {
    font-weight: 6;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: rgba(238, 232, 213, 0.5);
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

#comingSoon:hover h2 {
    cursor: default;
}
#comingSoon:hover p {
    cursor: default;
}

/** PHONES */
@media only screen and (max-width: 768px) {
    .singlePageSection {
        padding: 1em;
    }
    .singlePageSection p {
        text-align: left;
        margin-top: 0.6em;
    }

    #trailer {
        margin-top: 0.6em;
    }
        
    #signup {
        align-content: center;
        text-align: center;
    }
    
    #signup p {
        text-align: center;
        align-content: center;
        margin: 1em;
        padding: 0.5em;
    }
}

/** OTHER */
@media only screen and (min-width: 768px) {
    .singlePageSection {
        background-color: rgb(32, 32, 32);
        padding: 2em;
        margin: 4em;
    }
    .singlePageSection p {
        text-align: left;
        margin-top: 0.6em;
    }

    #trailer {
        margin-top: 0.6em;
    }
    
    #signup {
        align-content: center;
        text-align: center;
    }
    
    #signup p {
        text-align: center;
        align-content: center;
        margin: 1em;
        padding: 0.5em;
    }
}

#down {
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
}

#arrow       { color: #eee8d5; animation: arrow-unhover 0.3s linear; }
#arrow:hover { color: #999999; animation: arrow-hover   0.3s linear; }

@keyframes arrow-hover {
    0%   { color: #eee8d5; }
    100% { color: #999999; }
}

@keyframes arrow-unhover {
    0%   { color: #999999; }
    100% { color: #eee8d5; }
}